body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(60deg, #FF96A1, #FFFCB0, #B35760);
    background-size: 600% 600%;
    animation: bgGradient 20s infinite linear;
    z-index: -1;
    display: flex;
}

@keyframes bgGradient {
    0% {
        background-position: 0% 85%;
    }

    50% {
        background-position: 100% 20%;
    }

    100% {
        background-position: 0% 85%;
    }
}

.mynav {
    background-color: black;
    height:100%;
    width: 10%;
    margin: 0;
    padding: 0;
    position: fixed;
    display: inline-flex;
    align-items: center;
    z-index: 1;

}

.mynav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.icon {
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 50px 0px;
    transition: 0.3s ease;
}

ul .icon:hover {
    opacity: 0.6;
    font-size: 3rem;
}

.mid-container {
    height: 200%;
    width: 70%;
    display: inline-flex;
    position: absolute;
    left: 15%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.userInfo {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 239, 203, 0.3);
    height: 250px;
    margin-top: 30px;
    margin: 5%;
    width: 80%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

#profilepic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: fill;
    margin-bottom: 0;
}
.userInfo > h2 {
    color: black;
}

.followerBtn > * {
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color:rgb(255, 239, 203, 0);
    margin: 30px;
    transition: 0.35s ease;
}

.followerBtn > *:hover {
    background-color: #B35760;
}


.Line-Graph-Container {
    height: 50%;
    width: 100%;
}

.right-container {
    position: absolute;
    right: 1%;
    margin-top: 30px;
    background-color: #B35760;
    height: 80%;
    width: 10%
}






